li a {
    color: rgba(128, 0, 128, 0.534);
    text-decoration: none;
}

a:hover {
    color: rgba(230, 215, 136, 0.459);
}

.hover a:hover {
    background-color: rgba(128, 0, 128, 0.534);
}

a:active {
    padding-left: 5px;
    padding-right: 5px;
}